mat-toolbar{
  background: #004a9f;
  color: white;
}

mat-sidenav{
  margin: 16px;
  width: 200px;
  border-right: none;
  background: var(--primary-color);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content{
  height: calc(100vh - 98px);
  margin: 16px 16px 16px 32px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
}

.menu-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

.menu-button mat-icon{
  margin-right: 8px;
}

mat-sidenav-container{
  height: calc(100vh - 65px);
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}


mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
